<div class="addemp">
    <form class="add-form" (ngSubmit)="onSubmit()">
        <div class="form-control">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" placeholder="Add name" [(ngModel)]="name">
        </div>
        <div class="form-control">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="Add email" [(ngModel)]="email">
        </div>
        <div class="form-control">
            <label for="department">Department</label>
            <input type="text" name="department" id="department" placeholder="Add department" [(ngModel)]="department">
        </div>
    
        <input type="submit" value="Submit" class="btn btn-block">
    </form>
    <div class="error-messages">
        <div *ngIf="errorMessage">
            <p>{{errorMessage}}</p>
        </div>
    </div>
</div>
