<div class="item">
    <div class="employee-item">
        <h3>
           Name: {{employee.name}}
        </h3>
        <div class="subfeilds">
            <p>Email: {{employee.email}}</p>
            <p>Department: {{employee.department}}</p>
        </div>
    </div>
    <div class="buttons">
        <div class="deleteBtn" >
            <button class="btn" (click)="onDeleteClick(employee)">Delete </button> 
         </div>
         <div class="updateBtn" >
             <button class="btn" (click)="onUpdateClick(employee)">Update</button> 
         </div>
    </div>
</div>

